@media (max-width: 767px)
{
    header .mob_menu_link
    {
        margin-left: 40px;
    }    .sectionMarg
    {
        overflow: hidden !important;

        width: 100% !important;        /*margin: 0 auto !important;*/    
        max-width: 100% !important;
        margin-top: 36px;
    }    .cont
    {
        max-width: 100% !important;
    }    .section_amenities
    {
        padding: 36px 0;
    }    .amenities
    {
        margin-top: 36px;
    }    .amenities .item .name
    {
        font-size: 16px;
    }    .amenities .item .text
    {
        font-size: 14px;
    }    .amenities .item .text_abs
    {
        padding: 20px 10px;
    }    .amenities .item .text_abs ul li
    {
        font-size: 14px;
    }    .best_month .item
    {
        margin-top: 36px;
    }    .best_month .item .box
    {
        padding: 0 10px;
    }    .section_form
    {
        position: relative;

        padding: 36px 0;

        background-position: 100% 50%;
    }    .section_form:before
    {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        content: '';

        background:    -moz-linear-gradient(-45deg, rgba(243,246,249,1) 0%, rgba(243,246,249,0) 100%);
        background: -webkit-linear-gradient(-45deg, rgba(243,246,249,1) 0%,rgba(243,246,249,0) 100%);
        background:         linear-gradient(135deg, rgba(243,246,249,1) 0%,rgba(243,246,249,0) 100%);

        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f6f9', endColorstr='#00f3f6f9',GradientType=1 );
    }    .section_form .title
    {
        font-size: 18px;
    }    .section_form .subTitle
    {
        font-size: 15px;    

        margin-top: 8px;
    }    .form .line_flex .line_form
    {
        width: calc(50% - 10px);
    }    .slider_partners
    {
        margin-top: 36px;
    }    section .more_all
    {
        margin-top: 36px;
    }    .section_reviews
    {
        overflow: hidden !important;

        width: 100% !important;        /*margin: 0 auto !important;*/    
        max-width: 100% !important;
        padding: 36px 0;
    }    .slider_reviews
    {
        margin-top: 36px;
    }    .slider_articles
    {
        margin-top: 36px;
    }    section .title_inner
    {
        font-size: 35px;
    }    .contact_bank .item
    {
        width: 100%;
        max-width: 100%;
        margin-top: 36px;
    }    .contact_bank .item .block .box
    {
        width: 100%;
        max-width: 100%;
    }    .contact_bank .item .block .box + .box
    {
        margin-top: 10px;
    }    .contacts .item
    {
        width: calc(50% - 20px);
        margin-left: 20px;
    }    .contact_form
    {
        padding: 36px 0;
    }    .super_offer .img
    {
        width: 100%;
        margin: 0 auto;
    }    .super_offer .box
    {
        width: 100%;
        max-width: 100%;
        margin-top: 20px;
        padding: 0 20px;
    }    .accordion .open_sub
    {
        padding: 20px 15px;
    }    .accordion .open_sub .line_bottom
    {
        margin-left: -15px;
    }    .accordion .open_sub .box
    {
        width: calc(33.333% - 15px);
        margin-left: 15px;
    }    .accordion .open_sub .name
    {
        font-size: 12px;
    }    .accordion .open_sub .text
    {
        font-size: 14px;
    }    .accordion .block_none
    {
        padding-bottom: 0;
    }    .accordion .table_request
    {
        margin-bottom: 0;
    }    .accordion .more_hide
    {
        display: block;
    }    .table_request table thead
    {
        display: none;
    }    .table_request table tbody tr
    {
        display: flex;

        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }    .table_request table tbody tr td
    {
        display: block;

        width: 65%;
        height: auto;

        border: none;
    }    .table_request table tbody tr td.small
    {
        width: 35%;
    }    .table_request table tbody tr td.td_img
    {
        width: 100%;
    }    .table_request table tbody tr td.td_img img
    {
        margin: 0;
    }    .table_request table tbody tr td:after
    {
        display: inline;

        content: ' 'attr(data-label);
    }    .advantages
    {
        padding-bottom: 50px;
    }    .super_offer
    {
        padding: 36px 0;
    }    .advantages
    {
        margin-top: 26px;
    }    .section_request
    {
        padding: 36px 0;
    }    .section_request .form
    {
        margin-top: 36px;
    }    .table_profitably
    {
        margin-top: 36px;
    }    .scheme_work
    {
        padding: 36px 0;
    }    .slider_scheme
    {
        margin-top: 36px;
        padding-bottom: 50px;
    }    .section_request .form .line_flex
    {
        margin-left: -10px;
    }    .section_request .form .line_flex .line_form
    {
        width: calc(50% - 10px);
        margin-left: 10px;
    }    .form .block_flex .selectWrap
    {
        width: 100%;
        max-width: 100%;
    }    .form .block_flex .selectWrap + .selectWrap
    {
        margin-top: 10px;
    }    .form .line_form > label
    {
        font-size: 12px;
    }    .form .agree
    {
        width: 100%;
        margin-bottom: 20px;

        order: 1;
    }    .form .box_btn .submit
    {
        order: 2;
    }    .need_help
    {
        width: 100%;
        margin-top: 20px;

        text-align: center;
    }    .section_first .info
    {
        font-size: 16px;
    }    footer
    {
        margin-top: 36px;
        padding: 36px 0;
    }    footer .line_bottom
    {
        margin-top: 36px;
    }    footer .line_menu
    {
        margin-top: 26px;
    }    footer .line_menu .box_menu
    {
        width: calc(50% - 10px);
        margin-top: 30px;
    }    footer .copy,
    footer .links .link a
    {
        font-size: 13px;
    }    footer .created
    {
        width: auto;
    }    footer .social
    {
        margin-top: 20px;
    }    footer .social a + a
    {
        margin-left: 15px;
    }    .modal
    {
        max-width: 460px;
        padding: 36px 50px;
    }    .modal .title
    {
        font-size: 25px;
    }    .modal .form .line_flex .line_form
    {
        width: 100%;
    }    .modal .form .submit
    {
        text-align: center;
    }    .modal .form
    {
        margin-top: 36px;
    }    .fancybox-close-small
    {
        top: 15px;
        right: 15px;
    } .section_first
    {
        background-color: #222 !important;
        background-size: auto 200px !important;
    } .section_first
    {
        background-color: #f3f6f9 !important;
        background-image: none !important;
        background-size: auto 160px !important;
    } .section_first .title_inner
    {
        color: #222;
    } .section_first .breadcrumbs,
    .section_first .breadcrumbs a
    {
        color: #222;
    } .section_first .breadcrumbs .step
    {
        background-image: url(/images/arrow_slider2_grey.png);
        background-size: contain;
    } .section_first .info
    {
        color: #222;
    } .contacts .big ul
    {
                column-count: 1;
        -webkit-column-count: 1;
           -moz-column-count: 1;
    } .section_inner
    {
        padding: 20px 0;
    } .contacts .item .name
    {
        margin-bottom: 8px;
    } .contacts .item .icon
    {
        margin-bottom: 12px;
    } .section_request .form
    {
        padding-bottom: 50px;
    } .need_help
    {
        position: absolute;
        bottom: 0;
    } .credit_filter .credit_filter_col.double_input input
    {
        width: 69%;
    } .credit_filter .credit_filter_col.double_input .selectWrap
    {
        width: 30%;
    } .fancybox-is-open,
    #modal_call
    {
        width: 100vw;
    } .steps ul[role='tablist']
    {
        display: none;
    } .best_month .item .name
    {
        text-align: center;
    } .fancybox-is-open
    {
        height: 100vh;
    }


    .top_form{
        width: 100%;
        max-width: 520px;
    }

    .credit_form_col span{
        color: #222;
    }


    .section_request .form .center_button .line_flex .line_form {
        width: calc(50% - 10px);
    }
}
