.cont,
.site_wrap
{
    position: relative;
}@font-face
{
    font-family: Geometria;
    font-weight: 200;

    font-display: swap;
    src: url(/fonts/Geometria-ExtraLight.woff) format('woff'),url(/fonts/Geometria-ExtraLight.ttf);
}@font-face
{
    font-family: Geometria;

    font-display: swap;
    src: url(/fonts/Geometria.woff) format('woff'),url(/fonts/Geometria.ttf);
}@font-face
{
    font-family: Geometria;
    font-weight: 600;

    font-display: swap;
    src: url(/fonts/Geometria-Heavy.ttf) format('woff'),url(/fonts/Geometria-Heavy.ttf);
}@font-face
{
    font-family: Geometria;
    font-weight: 700;

    font-display: swap;
    src: url(/fonts/Geometria-Bold.woff) format('woff'),url(/fonts/Geometria-Bold.ttf);
}*
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}:after,
:before
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}img
{
    border: none;
}textarea
{
    overflow: auto;
}input,
input:active,
textarea,
textarea:active
{
         outline: transparent!important;
    box-shadow: none;

    -moz-outline: none!important;
}button[type=reset],
button[type=submit],
input[type=reset],
input[type=submit]
{
    -webkit-border-radius: 0;

    -webkit-appearance: none;
}:focus
{
    outline: 0;
}::-webkit-input-placeholder
{
    color: #a5a5a5;
}::-moz-placeholder
{
    color: #a5a5a5;
}:-moz-placeholder
{
    color: #a5a5a5;
}:-ms-input-placeholder
{
    color: #a5a5a5;
}.clear
{
    clear: both;
}.left
{
    float: left;
}.right
{
    float: right;
}html
{
    overflow-x: hidden!important;;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}body
{
    color: #222;
    font-family: Geometria, Arial;
    font-size: 15px;

    overflow-x: hidden;

    background: #fff;

    -webkit-text-size-adjust: 100%;
}.site_wrap
{
    overflow: hidden;
}.cont
{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}.aside_left
{
    width: 260px;
}.section_center
{
    width: calc(100% - 280px);
    max-width: 860px;
}.form .line_flex
{
    display: flex;

    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}.form .line_form
{
    margin-bottom: 25px;
}.form .line_flex .line_form
{
    width: calc(50% - 20px);
}.form .line_form > label
{
    color: #222;
    font-weight: 700;;

    display: block;

    margin-bottom: 10px;
}.form .input,
.form textarea,
.krajee-datepicker
{
    color: #222;
    font: 15px Geometria, Arial;

    display: block;

    width: 100%;
    height: 52px;
    padding: 0 20px;

    transition: .2s linear;;

    border: 1px solid #e8ecf0;
    border-radius: 3px;
    background: #fff;
}.form textarea
{
    height: 150px;
    padding: 15px 20px;

    resize: none;
}#order-form .actions a,
.form .submit_btn
{
    height: 50px;

    cursor: pointer;;
    transition: .2s linear;
    text-align: center;
    vertical-align: top;
}.form .input:focus,
.form textarea:focus
{
    border-color: #222;
}.form .submit_btn
{
    color: #222;
    font: 15px Geometria, Arial;
    font-weight: 700;

    display: inline-block;

    padding: 0 35px;

    border: 1px solid #222;
    border-radius: 3px;
    background: 0 0;
}.form .submit_btn:hover
{
    color: #fff;

    background: #222;
}#order-form .actions li.disabled
{
    display: none;
}#order-form .actions a
{
    color: #222;
    font: 15px Geometria, Arial;
    font-weight: 700;

    display: inline-block;

    padding: 12px 35px;

    border: 1px solid #222;
    border-radius: 3px;
    background: 0 0;
}#order-form .actions a:hover
{
    color: #fff;

    background: #222;
}.form .box_btn
{
    display: flex;

    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}.form .line_form .checkbox
{
    margin-top: 46px;
}.form .field-orders-agree
{
    width: calc(100% - 242px);
}.field-orders-agree input[type=checkbox]
{
    display: none;
}.field-orders-agree input[type=checkbox] + label
{
    line-height: 20px;

    position: relative;

    display: inline-block;

    padding-left: 32px;

    cursor: pointer;;
    vertical-align: middle;
}.field-orders-agree input[type=checkbox] + label:after,
.field-orders-agree input[type=checkbox] + label:before
{
    position: absolute;
    top: 2px;
    left: 0;

    width: 16px;
    height: 16px;

    content: '';
    transition: .2s linear;
}.field-orders-agree input[type=checkbox] + label:before
{
    border: 1px solid #337ab7;
    border-radius: 3px;
}.field-orders-agree input[type=checkbox]:checked + label:before
{
    border-color: #004199;
}.field-orders-agree input[type=checkbox] + label:after
{
    opacity: 0;
    background: url(/images/ic_check.svg) 50% 50% no-repeat;
    background-size: 10px auto;
}.field-orders-agree input[type=checkbox]:checked + label:after
{
    opacity: 1;
}.checkbox + .checkbox
{
    margin-top: 15px;
}.checkbox input[type=checkbox]
{
    display: none;
}.checkbox input[type=checkbox] + label
{
    line-height: 20px;

    position: relative;

    display: inline-block;

    padding-left: 32px;

    cursor: pointer;;
    vertical-align: middle;
}.checkbox input[type=checkbox] + label:after,
.checkbox input[type=checkbox] + label:before
{
    position: absolute;
    top: 2px;
    left: 0;;

    width: 16px;
    height: 16px;

    content: '';
    transition: .2s linear;
}.checkbox input[type=checkbox] + label:before
{
    border: 1px solid #004199;
    border-radius: 3px;
}.checkbox input[type=checkbox]:checked + label:before
{
    border-color: #004199;
}.checkbox input[type=checkbox] + label:after
{
    opacity: 0;
    background: url(/images/ic_check.svg) 50% 50% no-repeat;
    background-size: 10px auto;
}.checkbox input[type=checkbox]:checked + label:after
{
    opacity: 1;
}.form .block_flex
{
    display: flex;

    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}.form .block_flex .selectWrap
{
    width: calc(50% - 10px);
    max-width: 160px;
}.selectWrap
{
    width: 100%;
}.selectWrap select
{
    display: none;
}.selectWrap .nice-select
{
    position: relative;

    display: block;

    text-align: left;
}.selectWrap .nice-select .current
{
    color: rgba(34,34,34,.5);
    line-height: 50px;

    display: block;
    overflow: hidden;

    padding: 0 40px 0 20px;

    cursor: pointer;
    transition: border .2s linear;;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;

    border: 1px solid #e8ecf0;
    border-radius: 3px;
    background: #fff;
}.selectWrap .nice-select .current.selected
{
    color: #222;
}.selectWrap .nice-select.open .current
{
    border-color: #fff;
    border-radius: 4px 4px 0 0;
}.selectWrap .nice-select .current:after
{
    position: absolute;
    top: 50%;
    right: 18px;

    display: block;

    width: 6px;
    height: 11px;
    margin-top: -4px;

    content: '';
    transform: rotate(-90deg);;

    background: url(/images/arrow_slider1.svg) no-repeat;
}.selectWrap .nice-select.open .current:after
{
    transform: rotate(90deg);
}.selectWrap .nice-select .list
{
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;

    display: none;
    overflow: auto;

    width: 100%;
    padding-bottom: 10px;

    border-radius: 0 0 4px 4px;
    background: #fff;
}header,
header .top_line
{
    position: relative;
}.selectWrap .nice-select.open .list
{
    display: block;
}.selectWrap .nice-select .list li
{
    color: #004199;

    display: block;

    width: 100%;
    padding: 5px 20px;

    list-style: none;

    cursor: pointer;
    transition: .2s linear;;
    text-decoration: none;
}.selectWrap .nice-select .list li:hover
{
    color: #222;
}.selectWrap .nice-select .list li.selected
{
    font-weight: 700;
}.selectWrap .nice-select .list li:first-child
{
    display: none;
}header .top_line
{
    z-index: 1;

    padding: 27px 0;

    background: #fff;
}header .top_line .cont
{
    position: static;

    display: flex;

    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}header .mob_menu_link
{
    position: relative;

    display: none;

    width: 22px;
    height: 22px;

    background: url(/images/burger.svg) no-repeat;
}header .mob_menu_link.active
{
    background-image: url(/images/close_burger.svg);
}header .logo
{
    width: 260px;
}header .logo img
{
    display: block;

    max-width: 100%;
}header .block_search
{
    width: 460px;
}header .search
{
    color: #222;
    font-size: 15px;

    width: 100%;
    height: 44px;
    padding: 0 56px 0 20px;

    border: 1px solid #e8e8e8;
    border-radius: 3px;
}header .search_btn
{
    width: 36px;
    height: 44px;
    margin-left: -36px;

    cursor: pointer;
    transition: .2s linear;;

    opacity: .3;
    border: none;
    border-radius: 0 3px 3px 0;
    background: url(/images/lupa.svg) 0 50% no-repeat;
    background-size: 16px auto;
}header .search_btn:hover
{
    opacity: 1;
}header .tel a
{
    color: #222;
    font-size: 20px;
    font-weight: 600;

    transition: .2s linear;;
    text-decoration: none;
}header .tel a:hover
{
    color: #004199;
}header .call
{
    margin-top: 2px;
}header .call a
{
    color: #004199;

    transition: .2s linear;;
    text-decoration: none;

    border-bottom: 1px solid #004199;
}header .call a:hover
{
    border-bottom-color: transparent;
}header .login a
{
    color: #222;
    font-weight: 700;
    line-height: 30px;

    position: relative;

    display: block;

    padding-left: 46px;

    transition: .2s linear;;
    text-decoration: none;
}header .login a:hover
{
    color: #004199;
}header .login a:before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 30px;
    height: 30px;

    content: '';;

    background: url(/images/ic_login.svg) no-repeat;
}header .line_menu
{
    position: relative;

    background: #222;
    box-shadow: 0 4px 45px 6px rgba(0,0,0,.15);
}header .line_menu .block_search,
header .line_menu .contact
{
    display: none;
}header .menu
{
    display: flex;

    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}header .menu a
{
    color: #fff;
    font-weight: 700;
    line-height: 64px;

    display: block;

    text-decoration: none;
}header .menu a span
{
    padding-bottom: 2px;

    transition: .2s linear;;

    border-bottom: 1px solid rgba(255,255,255,.1);
}header .menu a:hover span
{
    border-bottom-color: #fff;
}section .main_title
{
    font-size: 30px;
    font-weight: 700;

    text-align: center;
}section .main_title.white
{
    color: #fff;
}section .title_small
{
    font-size: 20px;;

    margin-bottom: 22px;
}section .more_all
{
    margin-top: 60px;

    text-align: center;
}section .more_all a
{
    color: #222;
    font-weight: 700;
    line-height: 48px;

    display: inline-block;

    padding: 0 34px;

    cursor: pointer;
    transition: .2s linear;;
    text-align: center;
    vertical-align: top;
    text-decoration: none;

    border: 1px solid #222;
    border-radius: 3px;
}.text_block h4,
.text_block ol li,
.text_block p
{
    line-height: 28px;
}section .more_all a:hover
{
    color: #fff;

    background: #222;
}.sectionMarg
{
    margin-top: 60px;
}.text_block h4
{
    font-size: 15px;
    font-weight: 400;;

    margin-bottom: 4px;
}.text_block img,
.text_block ol,
.text_block p,
.text_block ul
{
    margin-bottom: 26px;
}.text_block a
{
    color: #222;

    text-decoration: none;
}.text_block a:hover
{
    color: #004199;
}.text_block img
{
    display: block;

    max-width: 100%;
}.text_block img.left
{
    width: calc(50% - 40px);
    max-width: 360px;
    margin-top: 6px;
    margin-right: 40px;
}.text_block ul li
{
    line-height: 28px;

    position: relative;

    list-style: none;
}.text_block ul li:before
{
    margin-right: 28px;

    content: '-';
}.text_block ol
{
    list-style-type: none;

    counter-reset: list1;
}.text_block ol li
{
    position: relative;

    counter-increment: list1;
}.text_block ol li:before
{
    margin-right: 20px;

    content: counter(list1)'.';
}.text_block > :last-child
{
    margin-bottom: 0;
}.pagination
{
    margin-top: 40px;

    text-align: center;
}.pagination > :first-child
{
    margin-left: 0;
}.pagination a,
.pagination span
{
    color: #494949;
    font: 16px/38px Open Sans;

    position: relative;

    display: inline-block;

    width: 40px;
    height: 40px;
    margin-left: 12px;
    padding: 1px;

    transition: .2s linear;
    text-align: center;
    vertical-align: top;
    text-decoration: none;

    border-radius: 4px;

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b83f9d', endColorstr='#521f92', GradientType=1);
}.pagination > li.disabled
{
    display: none!important;
}.pagination > li
{
    display: inline-block!important;;

    margin-right: 5px;
}.pagination a:before
{
    position: absolute;
    z-index: 0;
    top: 1px;
    left: 1px;

    width: calc(100% - 2px);
    height: calc(100% - 2px);

    content: '';
    transition: .2s linear;;

    border-radius: 4px;
}.amenities .item,
.amenities .item .text_abs,
.best_month .item .more a
{
    transition: .2s linear;;

    border-radius: 3px;
}.pagination a:hover:before
{
    opacity: 0;
}.pagination a:hover,
.pagination span
{
    color: #fff;
}.pagination a b
{
    font-weight: 400;;

    position: relative;
    z-index: 1;
}.pagination .dot
{
    color: #494949;
    font: 16px/50px Open Sans;;

    display: inline-block;

    width: 10px;
    height: 40px;
    margin-left: 12px;

    vertical-align: top;
}.section_inner
{
    padding: 35px 0;

    border-bottom: 1px solid #f3f6f9;
    background: #fafcfd;
}section .title_inner
{
    font-size: 50px;
    font-weight: 700;

    text-align: center;
}.breadcrumbs
{
    margin-bottom: 4px;

    text-align: center;
}.breadcrumbs a
{
    color: #222;

    transition: .2s linear;;
    text-decoration: none;

    border-bottom: 1px solid #222;
}.breadcrumbs a:hover
{
    color: #004199;

    border-bottom-color: #004199;
}.breadcrumbs .step
{
    display: inline-block;

    width: 5px;
    height: 10px;
    margin: -3px 14px 0;

    transform: rotate(180deg);;
    vertical-align: middle;

    background: url(/images/arrow_slider1.svg) no-repeat;
}.section_amenities
{
    padding: 60px 0;

    border-bottom: 1px solid #f3f6f9;
    background: #fafcfd;
}.amenities
{
    display: flex;

    margin: 16px 0 0 -40px;

    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
}.amenities .item
{
    color: #222;

    position: relative;

    display: block;
    overflow: hidden;

    width: calc(33.333% - 40px);
    margin: 40px 0 0 40px;
    padding: 30px 11px;

    text-decoration: none;;

    background: #f3f6f9;
    box-shadow: 0 0 0 0 #f3f6f9,inset 0 0 0 1px #e8ecf0;
}.amenities .item:hover
{
    box-shadow: 0 2px 25px 3px #f3f6f9,inset 0 0 0 1px #e8ecf0;
}.amenities .item .icon
{
    display: flex;

    height: 70px;

    justify-content: center;
    align-items: center;
}.amenities .item .icon img
{
    display: block;

    max-width: 100%;
    max-height: 100%;
}.best_month,
.best_month .item
{
    display: flex;

    justify-content: space-between;
    align-content: flex-start;
}.amenities .item .name
{
    font-size: 20px;
    font-weight: 700;

    margin-top: 24px;

    text-align: center;
}.amenities .item .text
{
    color: #979da3;

    margin-top: 2px;

    text-align: center;
}.amenities .item .text_abs
{
    position: absolute;
    top: -100%;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 28px 30px;

    background: #fff;
}.amenities .item .text_abs ul li:before,
.best_month .item ul li:before,
.super_offer .list li:before
{
    left: 0;

    height: 5px;

    content: '';
}.amenities .item:hover .text_abs
{
    top: 0;
}.amenities .item .text_abs ul li
{
    position: relative;

    padding-left: 16px;

    list-style: none;
}.amenities .item .text_abs ul li:before
{
    position: absolute;
    top: 7px;

    width: 5px;

    background: #222;
}.amenities .item .text_abs ul li + li
{
    margin-top: 18px;
}.best_month
{
    align-items: flex-start;
    flex-wrap: wrap;
}.best_month .item
{
    width: calc(50% - 10px);
    max-width: 560px;
    margin-top: 60px;

    align-items: flex-start;
    flex-wrap: wrap;
}.best_month .item .img
{
    width: 260px;
    max-width: 100%;
}.best_month .item .img img
{
    display: block;

    width: 100%;
}.best_month .item .box
{
    width: calc(100% - 280px);
    max-width: 260px;
}.best_month .item .name
{
    font-size: 24px;
}.best_month .item ul
{
    margin-top: 26px;
}.best_month .item ul li
{
    color: #979da3;

    position: relative;

    padding-left: 16px;

    list-style: none;
}.best_month .item ul li:before
{
    position: absolute;
    top: 7px;

    width: 5px;

    background: #004199;
}.best_month .item:nth-child(2n) .list li:before
{
    background: #007800;
}.best_month .item ul li + li
{
    margin-top: 10px;
}.best_month .item .more
{
    margin-top: 30px;
}.best_month .item .more a
{
    color: #004199;
    line-height: 50px;

    display: inline-block;

    width: 100%;
    max-width: 206px;

    text-align: center;
    vertical-align: top;
    text-decoration: none;;

    background: #f3f6f9;
}.best_month .item:nth-child(2n) .more a
{
    color: #007800;

    background: #eff7ef;
}.best_month .item .more a:hover
{
    color: #fff;

    background: #004199;
}.best_month .item:nth-child(2n) .more a:hover
{
    background: #007800;
}.super_offer
{
    margin-top: 40px;
    padding: 60px 0;

    background: #f3f6f9;
}.super_offer .cont
{
    display: flex;

    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}.super_offer .img
{
    width: calc(50% - 10px);
    max-width: 560px;
}.super_offer .img img
{
    display: block;

    width: 100%;
}.super_offer .box
{
    width: calc(50% - 10px);
    max-width: 560px;
}.super_offer .info
{
    color: rgba(34,34,34,.5);
    font-weight: 700;

    letter-spacing: .1em;;
    text-transform: uppercase;
}.super_offer .name
{
    color: #004199;
    font-size: 50px;
    font-weight: 700;
}.super_offer .list
{
    margin-top: 24px;
}.super_offer .list li
{
    font-size: 20px;

    position: relative;

    padding-left: 19px;

    list-style: none;
}.super_offer .list li:before
{
    position: absolute;
    top: 12px;

    width: 5px;

    background: #004199;
}.super_offer .list li + li
{
    margin-top: 18px;
}.super_offer .more
{
    margin-top: 36px;
}.super_offer .more a
{
    color: #004199;
    font-weight: 700;
    line-height: 58px;

    display: inline-block;

    padding: 0 35px;

    transition: .2s linear;;
    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase;

    border: 1px solid #004199;
    border-radius: 3px;
}.super_offer .more a:hover
{
    color: #fff;

    background: #004199;
}.slider_partners
{
    margin-top: 56px;
    padding: 0 45px;
}.slider_partners .slide
{
    display: none;
}
.slider_partners.owl-loaded .slide
{
    display: block;
}

.slider_partners .slide a{
	display: flex;
	height: 70px;

    justify-content: center;
    align-items: center;
}

.slider_partners .slide img
{
    display: block;

    max-width: 100%;
    max-height: 100%;

    transition: .2s linear;

    opacity: .3;

    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
}.slider_partners .slide:hover img
{
    opacity: 1;

    -webkit-filter: grayscale(0);
       -moz-filter: grayscale(0);
        -ms-filter: grayscale(0);
         -o-filter: grayscale(0);
}.section_reviews
{
    padding: 60px 0;

    background: #004199;
}.slider_reviews
{
    margin-top: 56px;
    padding: 0 100px;
}.slider_reviews.owl-carousel .owl-stage-outer
{
    overflow: visible;
}.slider_reviews .comment
{
    display: none;

    padding: 30px;

    transition: .3s linear;;
    pointer-events: none;

    opacity: .15;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 5px 25px 1px #003782;
}.slider_reviews .owl-item.active .comment
{
    pointer-events: all;;

    opacity: 1;
}.slider_reviews.owl-loaded .comment
{
    display: block;
}.slider_reviews .comment .user
{
    display: flex;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}.slider_reviews .comment .foto
{
    width: 50px;
    height: 50px;
}.slider_reviews .comment .foto img
{
    display: block;

    width: 100%;
    height: 100%;

    border-radius: 50%;
}.slider_reviews .comment .name
{
    font-weight: 700;

    overflow: hidden;

    width: calc(100% - 70px);
    margin-left: 20px;

    white-space: nowrap;
    text-overflow: ellipsis;
}.slider_reviews .comment .text
{
    line-height: 23px;;

    margin-top: 23px;
}.slider_reviews .comment .text .more
{
    color: #004199;
    font-weight: 700;

    position: relative;

    padding-right: 13px;

    text-decoration: none;
}.slider_reviews .comment .text .more:after
{
    position: absolute;
    top: 50%;
    right: 0;

    width: 8px;
    height: 5px;
    margin-top: 1px;

    content: '';
    transition: .2s linear;
    transform: translateY(-50%) rotate(-90deg);;

    background: url(/images/arrow1.svg) no-repeat;
}.slider_reviews .comment .text .more:hover:after
{
    right: -5px;
}.slider_articles
{
    margin-top: 56px;
    padding: 0 100px;
}.slider_articles.owl-carousel .owl-stage-outer
{
    overflow: visible;
}.slider_articles .article
{
    display: none;

    padding: 30px;

    transition: .3s linear;;
    pointer-events: none;

    opacity: .3;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background: #fff;
}.slider_articles .article:hover
{
    border-color: transparent;
    box-shadow: 0 3px 15px 1px #edf0f2;
}.slider_articles .owl-item.active .article
{
    pointer-events: all;;

    opacity: 1;
}.slider_articles.owl-loaded .article
{
    display: block;
}.slider_articles .article .tag
{
    color: #004199;

    letter-spacing: .1em;;
    text-transform: uppercase;
}.credit_filter .credit_filter_col a,
.section_first .completed a
{
    transition: .2s linear;;
    text-decoration: none;
    letter-spacing: .05em;
    text-transform: uppercase;
}.slider_articles .article .name
{
    margin-top: 4px;
}.slider_articles .article .name a
{
    color: #222;
    font-size: 23px;
    font-weight: 700;
    line-height: 28px;

    transition: .2s linear;;
    text-decoration: none;
}.slider_articles .article .name a:hover
{
    color: rgba(34,34,34,.68);
}.slider_articles .article .text
{
    color: #979da3;
    line-height: 23px;;

    margin-top: 20px;
}.slider_articles .article .box
{
    display: flex;

    margin-top: 26px;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}.slider_articles .article .more_all
{
    margin-top: 0;

    text-align: left;

    order: 1;
}.slider_articles .article .time
{
    font-size: 13px;
    line-height: 14px;

    position: relative;

    margin-left: 30px;
    padding-left: 26px;

    order: 2;
}.slider_articles .article .time:before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 14px;
    height: 14px;

    content: '';;

    background: url(/images/ic_time.svg) no-repeat;
}.section_form
{
    padding: 60px 0;

    background: url(/images/bg_form1.jpg) 50% 50% no-repeat;
    background-size: cover;
}.section_form .title
{
    font-size: 30px;
    font-weight: 700;
}.section_form .subTitle
{
    font-size: 20px;;

    margin-top: 4px;
}.section_form .form
{
    max-width: 760px;
    margin-top: 26px;
}.best_categories
{
    display: flex;

    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
}.best_categories li
{
    width: calc(16.666% - 10px);
    max-width: 160px;

    list-style: none;
}.best_categories li a
{
    color: #004199;

    display: flex;

    height: 100%;
    min-height: 62px;
    padding: 10px;

    transition: .2s linear;
    text-align: center;
    text-decoration: none;

    border-radius: 3px;
    background: #f3f6f9;

    justify-content: center;
    align-items: center;
}.best_categories li a.active,
.best_categories li a:hover
{
    color: #fff;

    background: #004199;
}.bank
{
    max-width: 960px;
    margin: 0 auto;
}.bank .link_bank,
.bank .logo_bank
{
    margin-bottom: 26px;
}.bank .logo_bank img
{
    display: block;

    width: 200px;;
    max-width: 100%;
}.bank .link_bank a
{
    color: #264395;

    position: relative;

    padding-left: 30px;

    transition: .2s linear;;
    text-decoration: none;
}.bank .link_bank a:hover
{
    color: #222;
}.bank .link_bank a:before
{
    position: absolute;
    top: 3px;
    left: 0;

    width: 14px;
    height: 14px;

    content: '';;

    background: url(/images/ic_link.svg) no-repeat;
}.contact_bank .line_flex
{
    display: flex;

    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}.contact_bank .item
{
    width: calc(50% - 10px);
    max-width: 460px;
    margin-top: 54px;
}.contact_bank .item.big
{
    width: 100%;
    max-width: 100%;
}.contact_bank .title
{
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;

    margin-bottom: 20px;
    padding-bottom: 16px;

    border-bottom: 1px solid #e7e7e7;
}.contact_bank .title.ic_license,
.contact_bank .title.ic_marker,
.contact_bank .title.ic_tel
{
    position: relative;

    padding-left: 50px;
}.contact_bank .title.ic_license:before,
.contact_bank .title.ic_marker:before,
.contact_bank .title.ic_tel:before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 30px;
    height: 30px;

    content: '';;

    background: url(/images/ic_license.svg) no-repeat;
    background-size: auto 30px;
}.contact_bank .title.ic_marker:before
{
    background-image: url(/images/ic_marker.svg);
}.contact_bank .title.ic_tel:before
{
    background-image: url(/images/ic_tel.svg);
}.contact_bank .text p
{
    line-height: 24px;;

    margin-bottom: 10px;
}.contact_bank .text > :last-child
{
    margin-bottom: 0;
}.contact_bank .item .block
{
    display: flex;

    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}.contact_bank .item .block .box
{
    width: calc(50% - 10px);
    max-width: 460px;
}.contacts
{
    display: flex;

    margin: -30px 0 0 -20px;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}.contacts .item
{
    width: calc(33.333% - 25px);
    margin: 30px 0 0 25px;
}.contacts .item.big
{
    width: calc(100% - 25px);
}.contacts .item .icon
{
    display: flex;

    height: 30px;
    margin-bottom: 22px;

    justify-content: flex-start;
    align-items: flex-start;
}.contacts .item .icon img
{
    display: block;

    max-width: 100%;
    max-height: 100%;
}.contacts .item .name
{
    margin-bottom: 20px;
}.contacts .item .mail a,
.contacts .item .tel a
{
    color: #222;
    font-size: 30px;
    font-weight: 700;

    transition: .2s linear;;
    text-decoration: none;
}.contacts .item .mail a:hover,
.contacts .item .tel a:hover
{
    color: #004199;
}.contacts .big ul
{
            column-count: 3;
    -webkit-column-count: 3;
       -moz-column-count: 3;
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
}.contacts .big ul li
{
    line-height: 20px;

    position: relative;

    margin-bottom: 20px;
    padding-left: 23px;

    list-style: none;;

    vertical-align: top;
}.contacts .big ul li:before
{
    position: absolute;
    top: 9px;
    left: 0;

    width: 5px;
    height: 5px;

    content: '';;

    background: #004199;
}.contact_form
{
    padding: 60px 0;

    background: #f3f6f9;
}.contact_form .form
{
    max-width: 760px;
    margin: 28px auto 0;
}.contact_form .form .submit
{
    text-align: center;
}.accordion .item
{
    overflow: hidden;

    border: 1px solid #e8ecf0;
    border-radius: 3px;
}.accordion .item + .item
{
    margin-top: 40px;
}.accordion .open_sub
{
    color: #222;

    display: block;

    padding: 22px 24px;

    text-decoration: none;;

    border-radius: 3px;
}.accordion .open_sub .line_top
{
    display: flex;

    margin-bottom: 20px;
    padding-bottom: 25px;

    border-bottom: 1px solid #e8ecf0;

    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}.accordion .open_sub .title
{
    font-size: 17px;
    font-weight: 700;;

    width: calc(100% - 130px);
}.accordion .more_hide
{
    display: none;

    padding: 10px 0;

    cursor: pointer;
    text-align: right;
}.accordion .more_hide,
.accordion .open_sub .more
{
    color: #004199;
    font-weight: 700;;

    position: relative;

    padding-right: 26px;
}.accordion .more_hide:before,
.accordion .open_sub .more:before
{
    position: absolute;
    top: 50%;
    right: 0;

    width: 8px;
    height: 5px;

    content: '';
    transform: translateY(-50%);;

    background: url(/images/arrow1.svg) no-repeat;
}.accordion .more_hide:before,
.accordion .open_sub.active .more:before,
.section_first .completed a:before
{
    transform: translateY(-50%) rotate(180deg);
}.accordion .open_sub .line_bottom
{
    display: flex;

    margin-left: -20px;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}.accordion .open_sub .box
{
    width: calc(33.333% - 20px);
    margin-left: 20px;
}.accordion .open_sub .icon
{
    display: flex;

    height: 20px;
    margin-bottom: 14px;

    justify-content: flex-start;
    align-items: flex-start;
}.accordion .open_sub .icon img
{
    display: block;

    max-width: 100%;
    max-height: 100%;
}.accordion .open_sub .name
{
    font-weight: 700;;

    margin-bottom: 3px;
}.accordion .block_none
{
    position: relative;

    display: none;

    margin-top: 25px;
    padding: 25px;
}.accordion .block_none:before
{
    position: absolute;
    top: 0;
    left: 25px;

    width: calc(100% - 50px);
    height: 1px;

    content: '';;

    background: #e8ecf0;
}.accordion .table_request
{
    width: calc(100% + 50px);
    margin: 0 -25px -26px;
}.table_request table
{
    width: 100%;

    border-collapse: collapse;
}.table_request table thead tr th
{
    padding: 0 25px 22px;

    text-align: left;;
    vertical-align: top;

    border-right: 1px solid #e8ecf0;
}.table_request table thead tr th:lst-child
{
    border-right: none;
}.table_request table tbody tr td
{
    height: 100px;
    padding: 22px 25px;

    vertical-align: middle;

    border: 1px solid #e8ecf0;
    border-left: none;
}.table_request table tbody tr td:lst-child
{
    border-right: none;
}.table_request table tbody tr:nth-child(2n)
{
    background: #f3f6f9;
}.table_request table tbody tr td.td_img
{
    width: 260px;

    table-layout: fixed;
}.table_request table tbody tr td.td_img img
{
    display: block;

    max-width: 100%;
    margin: 0 auto;
}.table_request table tbody tr td.td_more
{
    width: 190px;

    table-layout: fixed;
}.table_request table tbody tr td.td_more a
{
    color: #004199;
    font-weight: 700;
    line-height: 48px;

    display: block;

    padding: 0 15px;

    transition: .2s linear;;
    text-align: center;
    text-decoration: none;

    border: 1px solid #004199;
    border-radius: 3px;
}.table_request table tbody tr td.td_more a:hover
{
    color: #fff;

    background: #004199;
}.section_first
{
    padding: 70px 0 98px;

    background: url(/images/bg1.jpg) no-repeat;
    background-size: cover!important;
	max-height: 400px;
}.section_first .breadcrumbs
{
    color: #fff;
}.section_first .breadcrumbs a
{
    color: #fff;

    border-bottom: 1px solid rgba(255,255,255,.1);
}.section_first .breadcrumbs a:hover
{
    color: #fff;

    border-bottom-color: #fff;
}.section_first .breadcrumbs .step
{
    background-image: url(/images/arrow_slider2.svg);
}.section_first .title_inner
{
    color: #fff;
}.section_first .info
{
    color: #fff;
    font-size: 17px;
    line-height: 32px;

    max-width: 750px;
    margin: 26px auto 0;

    text-align: center;
}.section_first .completed
{
    margin-top: 46px;

    text-align: center;
}.section_first .completed a
{
    color: #fff;
    font-weight: 700;
    line-height: 50px;

    position: relative;

    display: inline-block;

    padding: 0 60px 0 35px;

    vertical-align: top;

    border-radius: 3px;
    background: #007800;
    box-shadow: 0 2px 0 #016401;
}.section_first .completed a:before
{
    position: absolute;
    top: 50%;
    right: 35px;

    width: 7px;
    height: 12px;

    content: '';;

    background: url(/images/arrow_slider2.svg) no-repeat;
}.section_first .completed a:hover
{
    background: #008200;
    box-shadow: 0 4px 30px 4px rgba(1,100,1,.7);
}.advantages
{
    margin-top: 46px;
}.advantages .slide
{
    display: none;

    padding: 0 15px 30px;

    text-align: center;;

    border: 1px solid #e8e8e8;
    border-radius: 3px;
}.advantages.owl-loaded .slide
{
    display: block;
}.advantages .owl-item
{
    padding-top: 40px;
}.advantages .slide .number
{
    font-size: 85px;
    font-weight: 200;
    line-height: 60px;;

    margin-top: -30px;
}.advantages .slide .name
{
    color: #007800;
    font-size: 20px;
    font-weight: 700;;

    margin-top: 30px;
}.advantages .slide .text
{
    line-height: 25px;;

    margin-top: 13px;
}.scheme_work
{
    padding: 60px 0;

    background: #faf9f6;
}.slider_scheme
{
    margin-top: 56px;
}.slider_scheme .slide
{
    display: none;

    max-width: 258px;
    margin: 0 auto;

    text-align: center;
}.slider_scheme.owl-loaded .slide
{
    display: block;
}.slider_scheme .slide .icon
{
    display: flex;

    height: 80px;

    justify-content: center;
    align-items: center;
}.slider_scheme .slide .icon img
{
    display: block;

    max-width: 100%;
    max-height: 100%;
}.slider_scheme .slide .text
{
    line-height: 24px;;

    position: relative;

    margin-top: 40px;
    padding-top: 38px;
}.slider_scheme .slide .text:before
{
    position: absolute;
    top: 0;
    left: 50%;

    width: 30px;
    height: 1px;

    content: '';
    transform: translateX(-50%);;

    background: #222;
}.table_profitably
{
    margin-top: 56px;
}.table_profitably .item_head
{
    display: flex;

    margin-bottom: 14px;

    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
}.table_profitably .item_head:not(:first-child)
{
    display: none;
}.table_profitably .item_head .box
{
    font-weight: 700;

    width: 25%;
    padding: 0 41px;
}
.table_profitably.kreditkards .item_head .box
{
    width: 33%;
}

.table_profitably .item_head .box:fist-child
{
    padding: 0 24px;
}.table_profitably .item_head .box span
{
    display: inline-block;

    width: 75px;;

    vertical-align: top;
}.table_profitably .item
{
    display: flex;

    min-height: 100px;

    cursor: pointer;;
    transition: .2s linear;

    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background: #fff;

    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
}.table_profitably .item:hover
{
    border-color: transparent;
    box-shadow: 0 2px 25px 3px #f3f6f9;
}.table_profitably .item + .item
{
    margin-top: 25px;
}.table_profitably .item .box
{
    display: flex;

    width: 25%;
    padding: 24px 40px;

    border-left: 1px solid #e8e8e8;

    justify-content: flex-start;
    align-items: flex-start;
}
.table_profitably.kreditkards .item .box
{
    display: flex;

    width: 33%;
    padding: 24px 20px;
}

.table_profitably .item .box:first-child
{
    padding: 24px;

    border-left: 0;
}.table_profitably .item .box .block
{
    width: 100%;
    margin: auto;
}.table_profitably .item .box:first-child .block
{
    display: flex;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}.table_profitably .item .number
{
    color: rgba(34,34,34,.1);
    font-size: 20px;
    font-weight: 700;;

    width: 75px;
}.table_profitably .item .ic_bank
{
    width: calc(100% - 30px);
}.table_profitably .item .rate:before,
.table_profitably .item .time:before
{
    top: 30%;
    left: 0;;

    width: 20px;
    height: 20px;

    content: '';
}.table_profitably .item .ic_bank img
{
    display: block;

    max-width: 100%;
    max-height: 38px;
}.table_profitably .item .rate
{
    line-height: 20px;;

    position: relative;

    padding-left: 36px;
}.table_profitably .item .rate:before
{
    position: absolute;

    background: url(/images/ic_rate.svg) no-repeat;
}.table_profitably .item .time
{
    line-height: 20px;;

    position: relative;

    padding-left: 36px;
}.table_profitably .item .time:before
{
    position: absolute;

    background: url(/images/ic_time.svg) no-repeat;
}.table_profitably .item li
{
    line-height: 20px;

    position: relative;

    padding-left: 26px;

    list-style: none;
}.table_profitably .item li:before
{
    position: absolute;
    top: 5px;
    left: 0;

    width: 11px;
    height: 8px;

    content: '';;

    background: url(/images/ic_list.svg) no-repeat;
}.table_profitably .item li + li
{
    margin-top: 10px;
}.section_request
{
    padding: 60px 0;

    background: #f3f6f9;
}.need_help
{
    margin-top: -26px;
}.need_help a
{
    color: #004199;
    font-weight: 700;

    position: relative;

    display: inline-block;

    padding-left: 28px;

    transition: .2s linear;;
    vertical-align: top;
    text-decoration: none;
}.need_help a:before
{
    position: absolute;
    top: 1px;
    left: 0;

    width: 17px;
    height: 17px;

    content: '';;

    background: url(/images/ic_help.svg) no-repeat;
}.need_help a:hover
{
    color: #222;
}.section_request .title
{
    font-size: 20px;;

    margin: 25px 0 30px;
}.section_request .form
{
    margin-top: 10px;
}.section_request .form .line_flex
{
    margin-left: -40px;

    justify-content: flex-start;
}.section_request .form .line_flex .line_form
{
    width: calc(33.333% - 40px);
    margin-left: 40px;
}

.section_request .form .center_button{
    max-width: 760px;
    margin: 0 auto;
}

.section_request .form .center_button .line_flex{
    justify-content: space-between;
    margin-left: 0;
}

.section_request .form .center_button .line_flex .line_form
{
    width: calc(50% - 20px);
    margin-left: 0;
}


.section_request .form .line_flex .line_form_one
{
    width: 100%;
    margin-left: 40px;
}

.section_request .form .center_button .line_flex .line_form_one{
    margin-left: 0;
}

aside .title
{
    font-size: 20px;
}aside .title.ic_profile
{
    position: relative;

    padding-right: 35px;
}aside .title.ic_profile a
{
    position: absolute;
    top: 2px;
    right: 0;

    display: block;

    width: 20px;
    height: 20px;

    content: '';;

    background: url(/images/ic_profile.svg) no-repeat;
}aside .profile
{
    margin-top: 22px;
    padding: 22px 25px;

    border: 1px solid #e8ecf0;
    border-radius: 3px;
    background: #f3f6f9;
}aside .profile .name
{
    font-size: 17px;
}aside .profile .name b
{
    font-size: 20px;;

    display: block;
}aside .date
{
    font-weight: 700;
    line-height: 20px;;

    position: relative;

    margin-top: 36px;
    padding-left: 35px;
}aside .date:before,
footer:before
{
    position: absolute;
    top: 0;

    content: '';
}aside .date:before
{
    left: 0;

    width: 20px;
    height: 20px;

    background: url(/images/ic_calendar.svg) no-repeat;
}footer
{
    position: relative;

    margin-top: 60px;
    padding: 60px 0;
}footer:before
{
    left: 50%;

    width: 1160px;
    height: 1px;

    transform: translateX(-50%);;

    background: #e8e8e8;
}footer .logo
{
    width: 260px;
}footer .logo img
{
    display: block;

    max-width: 100%;
}footer .line_menu
{
    display: flex;

    margin-top: 56px;

    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}footer .line_menu .box_menu
{
    width: calc(25% - 10px);
}footer .title_menu
{
    font-weight: 700;;

    position: relative;

    display: inline-block;

    padding-right: 23px;

    vertical-align: top;
}footer .title_menu:before
{
    position: absolute;
    top: 50%;
    right: 0;

    width: 8px;
    height: 5px;
    margin-top: -2px;

    content: '';;

    background: url(/images/arrow1.svg) no-repeat;
}footer .menu
{
    margin-top: 20px;
}footer .menu li
{
    list-style: none;
}footer .menu li + li
{
    margin-top: 10px;
}footer .menu li a
{
    color: #979da3;

    transition: .2s linear;;
    text-decoration: none;

    border-bottom: 1px solid transparent;
}footer .menu li a:hover
{
    color: #004199;

    border-bottom-color: #004199;
}footer .line_bottom
{
    display: flex;

    margin-top: 86px;

    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}footer .copy,
footer .links .link
{
    line-height: 30px;
}footer .links .link a
{
    color: #979da3;

    transition: .2s linear;;
    text-decoration: none;
}footer .links .link a:hover
{
    color: #004199;
}footer .created
{
    color: rgba(34,34,34,.5);;

    margin-top: 30px;
}footer .created a
{
    display: inline-block;

    margin-left: 6px;

    transition: .2s linear;;
    vertical-align: middle;

    opacity: .3;
}footer .created a:hover
{
    opacity: 1;
}footer .social
{
    display: flex;

    margin-top: 8px;

    justify-content: flex-start;
    align-self: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}footer .social a
{
    display: block;

    width: 45px;
    height: 45px;

    transition: .2s linear;;

    border-radius: 50%;
    background: url(/images/ic_fb.svg) 50% 50% no-repeat #222;
    background-size: auto 20px;
}footer .social a:hover
{
    background-color: #004199;
}footer .social a + a
{
    margin-left: 26px;
}footer .social a.fb
{
    background-image: url(/images/ic_fb.svg);
}footer .social a.ins
{
    background-image: url(/images/ic_ins.svg);
}footer .social a.tg
{
    background-image: url(/images/ic_tg.svg);
}footer .social a.wt
{
    background-image: url(/images/ic_wt.svg);
}.modal
{
    display: none;
    overflow: visible!important;

    width: calc(100% - 20px);
    max-width: 960px;
    padding: 60px 100px;

    border-radius: 3px;
    background: #fff;
}.modal_login
{
    max-width: 560px;
}.modal .title
{
    font-size: 30px;
    font-weight: 700;

    text-align: center;
}.modal .form
{
    margin-top: 56px;
}.modal_login .form .submit
{
    margin-top: 40px;

    text-align: center;
}.forgot
{
    margin-top: 18px;

    text-align: center;
}.forgot a
{
    color: #004199;

    transition: .2s linear;;
    text-decoration: none;
}.forgot a:hover
{
    color: #222;
}.alert-success
{
    font-size: 19px;;

    text-align: center;

    border: 0;
    background: 0 0;
}.sectionMarg .alert-success
{
    padding: 0;

    text-align: left;
}.main__under_title
{
    margin-top: 5px;;

    text-align: center;
}@media (max-width:1199px)
{
    header .block_search
    {
        width: 360px;
    }
}.credit_filter
{
    display: flex;

    margin-top: 60px;
    padding: 20px 30px;

    border-radius: 3px;;
    background: #f3f6f9;

    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
}.credit_filter .credit_filter_col
{
    width: calc(40% - 40px);
    margin-right: 40px;
}.credit_filter .credit_filter_col span
{
    font-weight: 700;

    display: block;;

    margin-bottom: 10px;
}.credit_filter .credit_filter_col .selectWrap span
{
    font-weight: 400;

    margin-bottom: 0;
}.credit_filter .credit_filter_col.double_input input
{
    display: inline-block;;

    width: 79%;
    margin: 0;
}.credit_filter .credit_filter_col.double_input .selectWrap
{
    display: inline-block;

    width: 20%;
    margin-left: -5px;;

    vertical-align: top;
}.credit_filter .credit_filter_col:last-child
{
    width: 20%;
    margin-right: 0;;

    text-align: center;
}.credit_filter .credit_filter_col a
{
    color: #fff;
    font-weight: 700;
    line-height: 50px;

    position: relative;

    display: inline-block;

    margin-top: 27px;;
    padding: 0 50px;

    cursor: pointer;
    vertical-align: top;

    border-radius: 3px;
    background: #007800;
    box-shadow: 0 2px 0 #016401;
}.credit_filter .credit_filter_col a:hover
{
    background: #008200;
    box-shadow: 0 4px 30px 4px rgba(1,100,1,.7);
}@media (min-width:768px)
{
    .table_profitably .item .box,
    .table_profitably .item_head .box
    {
        padding: 12px 40px;
    }.table_profitably .item .box.small,
    .table_profitably .item_head .box.small
    {
        font-size: 15px;

        width: 18%;
        padding: 12px 28px;
    }
	.table_profitably.kreditkards .item .box.small,
    .table_profitably.kreditkards .item_head .box.small
    {
        width: 15%;
    }
	
	.table_profitably .item .box.small:first-child,
    .table_profitably .item_head .box.small:first-child
    {
        width: 20%;
    }.table_profitably .item .box.small:nth-child(2),
    .table_profitably .item_head .box.small:nth-child(2)
    {
        width: 16%;
    }.table_profitably .item .number
    {
        color: rgba(34,34,34,.1);
        font-size: 20px;
        font-weight: 700;;

        width: 55px;
    }
}.table_profitably .item .box .block .number
{
    width: 30px;
}.table_profitably .item .kredit_summ
{
    line-height: 20px;;

    position: relative;

    padding-left: 36px;
}.table_profitably .item .kredit_summ:before
{
    position: absolute;
    top: 30%;
    left: 0;

    width: 20px;
    height: 20px;

    content: '';;

    background: url(/images/ic_money.svg) no-repeat;
}.form_search
{
    width: 60%;
    margin: 0 auto;;

    text-align: center;
}.form_search .search
{
    color: #222;
    font-size: 18px;

    width: 80%;
    height: 50px;
    padding: 0 56px 0 20px;

    border: 1px solid #e8e8e8;
    border-radius: 3px;
}.search_item
{
    margin: 0;;
    padding: 25px 0 27px;

    border-top: 1px solid #e0e0e0;
    border-bottom: none;
    background-color: #fff;
}.search_item .name
{
    font-size: 16px;;

    margin-bottom: 10px;
}.bank.reviews-page
{
    overflow: hidden;
}.bank.reviews-page .logo_bank
{
    float: left;

    margin-right: 20px;
}@media (max-width:768px)
{
    .form_search
    {
        width: 100%;
    }.form_search .search
    {
        width: 100%;
        margin-bottom: 20px;
    }.bank.reviews-page .logo_bank
    {
        float: none;

        margin-right: 0;
    }.more_info
    {
        display: none;
    }
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

* + h1,
* + .h1,
* + h2,
* + .h2,
* + h3,
* + .h3{
  margin-top: 20px;
}


.top_form {
	width: 60%;
    margin: 0 auto;
	display: flex;
    margin-top: 20px;
    padding: 5px 5px;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
}
.top_form .content{
	margin: 0 auto;
}

.credit_form_col {
	width: calc(40% - 40px);
    margin-right: 40px;
}

.credit_form_col span {
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
	color: #fff;
    text-align: center;
}

.credit_form_col input{
	color: #222;
    font: 15px Geometria, Arial;
    display: block;
    width: 100%;
    height: 38px;
    padding: 0 20px;
    transition: .2s linear;
    border: 1px solid #e8ecf0;
    border-radius: 3px;
    background: #fff;
}



.section_first .top_form{
    max-width: 520px;
    justify-content: space-between;
}

.section_first .top_form .credit_form_col{
    margin-right: 0;
    width: calc(50% - 15px);
}